@model Kartamulia.Accounting.NetCoreMvcClient.Models.JournalItem

<form asp-action="AddEditJournalItem">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader()
    {
        Heading = string.Format("{0} Journal Item", Model.Id == 0 ? "Add" : "Edit")
    })

    <div class="modal-body form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="JournalId" />

        <div class="row">
            <div class="col-lg-12">

                <div class="form-group col-lg-10">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-10">
                    <label asp-for="Debit" class="control-label"></label>
                    <input asp-for="Debit" class="form-control" />
                    <span asp-validation-for="Debit" class="text-danger"></span>
                </div>


                <div class="form-group col-lg-10">
                    <label asp-for="Credit" class="control-label"></label>
                    <input asp-for="Credit" class="form-control" />
                    <span asp-validation-for="Credit" class="text-danger"></span>
                </div>

            </div>
        </div>

    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter())
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")